# Webapp server
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
POSTGRES_HOST=""
POSTGRES_PORT=

WEBAPP_BASE_DOMAIN="https://elixirpeptides.devsivanschostakov.org"
INTERNAL_API_TOKEN=""
INTELLECTMONEY_API_BASE="https://api.intellectmoney.ru"
INTELLECTMONEY_SHOP_ID=471339
INTELLECTMONEY_BEARER_TOKEN=""
INTELLECTMONEY_SIGN_SECRET_KEY=""
INTELLECTMONEY_SECRET_KEY=""

# FastAPI/Auth integrations
PROFESSOR_BOT_TOKEN=""
DOSE_BOT_TOKEN=""
NEW_BOT_TOKEN=""

# Telegram/Telethon helpers
TELETHON_API_ID=
TELETHON_API_HASH=""
TELETHON_PHONE=""
TELETHON_PASSWORD=""

# CDEK/Yandex/AmoCRM integrations
MOY_SKLAD_BASE_URL="https://api.moysklad.ru/api/remap/1.2"
MOY_SKLAD_TOKEN=""
MOY_SKLAD_TIMEOUT_SECONDS=30
MOY_SKLAD_STOCK_RESERVE=3
MOY_SKLAD_SYNC_INTERVAL_SECONDS=900

CDEK_ACCOUNT=""
CDEK_SECURE_PASSWORD=""
CDEK_API_URL=""

YANDEX_DISK_CLIENT_ID=""
YANDEX_DISK_CLIENT_SECRET=""
YANDEX_DISK_REDIRECT_URI=""
YANDEX_DISK_OAUTH_TOKEN=""

YANDEX_DELIVERY_BASE_URL="https://b2b-authproxy.taxi.yandex.net"
YANDEX_MAP_TOKEN=""
YANDEX_GEOCODER_TOKEN=""
YANDEX_DELIVERY_TOKEN=""
YANDEX_DELIVERY_WAREHOUSE_ID=""
YANDEX_WAREHOUSE_ADDRESS_FULLNAME=""
YANDEX_WAREHOUSE_LON=
YANDEX_WAREHOUSE_LAT=

AMOCRM_BASE_DOMAIN=""
AMOCRM_CLIENT_ID=""
AMOCRM_CLIENT_SECRET=""
AMOCRM_REDIRECT_URI=""
AMOCRM_ACCESS_TOKEN=""
AMOCRM_REFRESH_TOKEN=""
AMOCRM_LOGIN_EMAIL=""
AMOCRM_LOGIN_PASSWORD=""
AMOCRM_AUTH_CODE=""

# SMTP Credentials
SMTP_USER=""
SMTP_PASSWORD=""
